html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  color: #333;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
h1 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#container {
  display: -webkit-flex;
}
#sections {
  width: 170px;
  height: 100vh;
  background: #59bb0c;
  color: #f6f6f6;
  position: fixed;
  overflow: auto;
}
#sections::-webkit-scrollbar {
  display: none;
}
#section {
  -webkit-flex: 1;
  background-color: #f6f6f6;
  margin-left: 170px;
  padding: 10px 30px;
}
.header {
  margin: 15px 0;
  display: -webkit-flex;
}
.list li{
  padding: 10px 0;
  text-align: center;
}
.list li:hover, .list .selected {
  background-color: #4ea30a;
}
.title {
  font-size: 18px;
  margin-right: auto;
}
.sentence {
  padding: 15px 0;
}
.sentence .jp {
  display: -webkit-flex;
	margin: 0;
}
.sentence .jp div {
  margin-top: 1px;
}
button {
  background-color: #f6f6f6;
  color: #333;
  border: 1px solid #a9a9a9;
}
.marked {
  background-color: #337ab7;
  color: #f6f6f6;
  border: 1px solid #337ab7;
}
.hidden {
  display: none;
}
.sentence .jp p {
  margin: 0px;
  margin-left: 5px;
}
.sentence .en {
  min-height: 38px;
}
.sentence textarea {
	width: 100%;
  resize: none;
}
.actions button{
  margin-right: 10px;
}
.actions-l button{
  margin-left: 10px;
}
.valid {
  color: green;
}
.invalid {
  color: red;
}
